<div class="container">
  <h2><b>Outdo your way here!!</b></h2><br />
  <h3>
    </ul>
      {{#each blogs}}
        <a href="/blog/{{this.slug}}">
          <li>
            {{this.title}}
          </li>
        </a>
      {{/each}}
    </ul>
  </h3>
</div>